
.clear{
	clear:both;
}
.area-slide{
	height:544px;
	margin-top:-40px;
}

 .slide{
	height:450px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	width:990px;
}
 .slidecontent{
	 height:100%;
	position:relative;
}
 .slidecontent .item{
	float:left;
	position:relative;
	width:990px;
}
 .slidecontent .item .article{
	 left:0;
	 margin:140px 0 0;
    padding:0 0px 0 30px;
	position:relative;
	text-align:left;
	top:0;
	width:350px;
	z-index:440;
}
 .slidecontent .item .article h1 a, .slidecontent .item .article h2 a{
	color:#333;
	font-size:24px;
	text-decoration:none;
	text-transform:uppercase;
}
 .slidecontent .item .article h2.sub{
	color:#9AC;
	font-size:18px;
}
 .slidecontent .item .article p{
	color:#777;
	font-size:12px;
	margin:0 0 30px;
}
 .slidecontent .item .article p.sub{
	color:#9AC;
	font-size:18px;
}
 .slidecontent .item .article a.cta{
	background-color:#CD0000;
	background-image:linear-gradient(top, #FE0000, #BB0000);
	background-image:-ms-linear-gradient(top, #FE0000, #BB0000);
	background-image:-moz-linear-gradient(top, #FE0000, #BB0000);
	background-image:-o-linear-gradient(top, #FE0000, #BB0000);
	background-image:-webkit-linear-gradient(top, #DE0000, #BB0000);
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-width:1px;
	border-radius:6px;
	color:#FFF;
	font-size:18px;
	margin:10px 0;
	padding:5px 10px;
	text-decoration:none;
 }
.slidecontent .item .article a.cta:hover{
	 text-shadow:0 0 4px #FFF;
}
  
 .slidecontent .item .figure{
	 left:0;
	 margin:0;
	 padding:0;
	 position:absolute;
	 top:0;
}
 .slide .slidenav{
	height:40px;
    margin:-45px auto 0;
	position:relative;
}
 .slide .slidenav a{
    background-image:url(../imagens/slide-link.png);
    background-position:0 0;
    background-repeat:no-repeat;
    float:left;
    height:14px;
    margin:0 2px;
    width:14px;
}
 .slide .slidenav a.selected,  .slide .slidenav a:hover{
    background-position:-20px 0;
}